<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id="blogs"><script type="text/x-separation" selector="#blogs"></script></div>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://raw.github.com/JimWolff/jquery-hashchange/master/jquery.ba-hashchange.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
        <script src="https://raw.github.com/virtuecenter/separation/master/jquery.separation.js"></script>
        <script src="https://raw.github.com/virtuecenter/separation/master/example/layouts/blogs-sep.js"></script>
    </body>
</html>