<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/style.css" />
    </head>
    <body class="home blog single-author mp6 highlander-enabled highlander-light infinite-scroll neverending" data-twttr-rendered="true">
    <div class="hfeed" id="wrapper">
        <div id="header"></div>
        <div id="main">
            <div id="container">
                <div role="main" id="content"><script type="text/x-separation" selector="#content"></script></div>
            </div>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jquery.ba-hashchange.js"></script>
        <script src="../js/handlebars.min.js"></script>
        <script src="../../jquery.separation.js"></script>
        <script src="../sep/blog.js"></script>
    </body>
</html>